<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
  <div class="rounded overflow-hidden flex flex-col max-w-xl mx-auto">
    <div
      class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex items-center justify-between mb-4">
        <h2
          class="text-xl font-bold leading-none text-gray-900 dark:text-white"
        >
          Favorites
        </h2>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          @for (char of characters; track $index) {
          <li class="py-3 sm:py-4">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img
                  class="w-8 h-8 rounded-full"
                  src="{{ char.image }}"
                  alt="Photo of {{ char.name }}"
                />
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <span
                  class="text-sm font-medium text-gray-900 truncate dark:text-white"
                >
                  {{ char.name }}
                </span>
              </div>
              <div class="button grid gap-4">
                <button
                  (click)="removeFromFav(char)"
                  class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                >
                  Remove form fav
                </button>
                <button
                  [routerLink]="['/characters', char.id]"
                  class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                >
                  View Detials
                </button>
              </div>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
